@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Sue+Ellen+Francisco&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* El encabezado tendra una imagen o video como 
un "background" con una frase superpuesta */
.header{
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_header{
    width: 100vw;
    height: 680px;
    /* height: 87vh; */
    object-fit: cover;
}

.phrase_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: none;
    padding: 10px;
    border-radius: none;
    color: rgb(226, 221, 248);
    font-family: 'Fredericka the Great', cursive;
    font-size: 7vh;
}

/* Transicion de colores previa o posterior para la
siguiente seccion */
.shadow{
    position: relative;
    width: 100vw;
    height: 15px;
}

.shadow_nro1,.shadow_nro2,.shadow_nro3{
    height: 5px;
    border: none;
}
.shadow_nro1{
    background-color: rgb(45,45,45);
}
.shadow_nro2{
    background-color: rgb(75, 75, 75);
}
.shadow_nro3{
    background-color: rgb(145, 145, 145);
}

/* Seccion informacion personal con un
parrafo acompañado de un titulo y una
(imagen) a su lado*/
.section_personal_information{
    position: relative;
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 239, 240);
}

.container_personal_information{
    display: flex;
    width: 950px;
    height: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.img_self{
    width: 28%;
    height: 55%;
}

.information_personal{
    display: flex;
    width: 646px;
    height: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 60px;
}

.title_info{
    margin-right: auto;
    padding: 0px 0px 25px 40px;
}

.p_info{
    font-size: 3vh;
}

/* Seccion sobre proyectos con un titulo
acompañado de una descripcion y un "hibervinculo"
para saber mas*/
.section_about_projects{
    position: relative;
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center; 
}


/* Caja de navegacion con botones*/
.box_navegation{
    position: fixed;
    width: 50px;
    height: 200px;
    border-radius: 22px;
    left: 95%;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(31, 30, 30);
    z-index: 12;
}

.btn_home,.btn_2,.btn_3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}

.btn_home img, .btn_2 img, .btn_3 img{
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_home, .btn_3, .btn_2{
    cursor: pointer;
}
